<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="../vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        stderr="true">
    <filter>
        <whitelist>
            <directory suffix=".php">./srdc</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="DataTables">
            <directory suffix="Test.php" phpVersion="5.3.0" phpVersionOperator=">=">.src/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./coverage/codeCoverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./coverage/testdox.html" />
    </logging>
</phpunit>